<div class="animate__animated animate__fadeIn">
    <div class="row position-absolute top-50 start-50 translate-middle w-100">
        <div class="col text-center">
            <a href="https://github.com/MateoCata98" class="text-decoration-none text-light">
                <p class="font-monospace lila">
                    GitHub - MateoCata98
                </p>
            </a>
            <a href="https://www.instagram.com/mateo.cata/" class="text-decoration-none text-light">
                <p class="font-monospace lila">
                    Instagram - Mateo.cata
                </p>
            </a>
            <a href="https://www.facebook.com/mateo.catalano.5" class="text-decoration-none text-light">
                <p class="font-monospace lila">
                    Facebook - Mateo Catalano
                </p>
            </a>
            <a class="text-decoration-none lila text-light">
                <p class="font-monospace lila">
                    Email - mate.catalano98@gmail.com
                </p>
            </a>
        </div>
    </div>

    <app-footer></app-footer>

</div>