<div class="row mt-5 center">
    <div class="col-12 col-sm-10 col-md-5 col-lg-3 mt-5 p-0 center animate__animated animate__fadeIn animate__delay-1s">
        <div class="div-imagen ms-lg-3 zoom">
            <div class="text-center h-100">
                <h1 class="mt-2 mb-1">Portfolio Web</h1>
                <div class="d-flex center">
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                    <mat-icon class="iconos text-dark mx-2">code</mat-icon>
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                </div>
                <p class="mb-0 texto">
                    Trabajo final del curso de programación web full stack #YoProgramo, segunda etapa de Argentina
                    Programa.
                </p>
                <p class="mb-0 texto d-none d-xl-block">
                    Capacitación impulsada por el Instituto Nacional de Tecnología Industrial (INTI), la Cámara
                    Argentina de la Industria de Software (CESSI) y el Ministerio de Desarrollo Productivo.
                </p>
                <div class="d-flex center ">
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                    <mat-icon class="iconos text-dark mx-2">code</mat-icon>
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                </div>
            </div>
            <img class="desvanecer img-fluid imagen" src="assets/img/portfolio.jpg" />
        </div>
    </div>
</div>
<div class="row mt-xl-5 center">
    <div class="col-12 col-sm-10 col-md-5 col-lg-3 mt-5 p-0 center animate__animated animate__fadeIn animate__delay-1s">
        <div class="div-imagen ms-lg-3 zoom">
            <div class="text-center h-100">
                <h1 class="mt-3 mb-2">Página web "Ruhita eco"</h1>
                <div class="d-flex center">
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                    <mat-icon class="iconos text-dark mx-2">code</mat-icon>
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                </div>
                <p class="mb-0">
                    Trabajo freelance en curso. Diseño de página web para emprendimiento de productos naturales, RUHITA
                    ECO.
                </p>
                <div class="d-flex center">
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                    <mat-icon class="iconos text-dark mx-2">code</mat-icon>
                    <hr class="w-50 text-dark" style="border:solid 1px white;">
                </div>
            </div>
            <img class="desvanecer img-fluid imagen" src="assets/img/ruhita.jpg" />
        </div>
    </div>
</div>