<div class="row mt-md-5 center w-100 ms-md-2">
  <div class="col-12 col-md-8 mt-md-5 px-5 ms-5 ms-md-2 center tamaño animate__animated animate__fadeIn animate__fast">
    <p class="mb-0 font-monospace">HTML (HyperText Markup Language)</p>
    <p-progressBar [value]="html" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">CSS (Cascading Style Sheets)</p>
    <p-progressBar [value]="css" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">JAVASCRIPT</p>
    <p-progressBar [value]="js" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">TYPESCRIPT</p>
    <p-progressBar [value]="js" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">ANGULAR</p>
    <p-progressBar [value]="angular" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">MYSQL</p>
    <p-progressBar [value]="mysql" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">MONGODB</p>
    <p-progressBar [value]="mysql" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">JAVA</p>
    <p-progressBar [value]="js" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">SPRING BOOT</p>
    <p-progressBar [value]="spring" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">NODE</p>
    <p-progressBar [value]="spring" class="mb-2"></p-progressBar>
    <p class="mb-0 font-monospace">HABILIDADES BLANDAS</p>
    <p-progressBar [value]="hb" class="mb-2"></p-progressBar>

  </div>
</div>